@page "/recipes"
@inject RecipeService RecipeService
@using RecipeFrontend.Models

<h3>Recipes</h3>

@if (recipes == null)
{
    <p>Loading...</p>
}
else
{
    <ul>
        @foreach (var recipe in recipes)
        {
            <li>
                <strong>Title:</strong> @recipe.Title <br />
                <strong>Ingredients:</strong> @recipe.Ingredients <br />
                <strong>Steps:</strong> @recipe.Steps <br />
                <strong>Time:</strong> @recipe.CookingTime minutes <br />
                <strong>Tags:</strong> @recipe.DietaryTags
            </li>
        }
    </ul>
}

@code {
    List<Recipe> recipes;

    protected override async Task OnInitializedAsync()
    {
        recipes = await RecipeService.GetRecipesAsync();
    }
}
